.intro {
    color: white;
    margin-left: 12%;
    margin-top: 20%;

    h1 {
        font-size: 45px;
        font-weight: bold;
    }
    h2 {
        color: #b8daea;
        font-weight: 500;
    }
}

.social {
    margin-top: 5em;
    .icon {
        width: 2em;
        height: 2em;
        margin-right: 5em;
    }
}