.intro {
    color: white;
    margin-left: 12%;
    margin-top: 20%;

    h1 {
        font-size: 45px;
        font-weight: bold;
    }
    h2 {
        color: #0c98f3;
        font-weight: 500;
    }
}