.container {
  display: flex;
  margin: 5% 15%;

  .description {
    width: calc(100% - 400px);
    h1 {
      font-size: 28px;
      color: #ffaf00;
    }

    h3 {
      font-size: 16px;
      color: #ffaf00;
    }

    ul {
      li {
        color: white;
      }
    }
  }
}