
.project {

  display: flex;
  margin: 5% 15%;
  background-color: black;
  padding: 20px;
  border-radius: 10px;

  .description {
    width: calc(100% - 400px);
    h1 {
      font-size: 28px;
      color: #ffaf00;
    }

    h3 {
      font-size: 16px;
      color: #ffaf00;
    }

    ul {
      li {
        color: #ffffff;
        padding-right: 10px;
      }
    }
  }

  .chess {
    width: 400px;
    .board {
      height: 400px;
      width: 400px;
      position: relative;
      .tile {
        display: inline-block;
        position: relative;

        img {
          max-width:50%;
          max-height:50%;
          position: absolute;
          left: 25%;
          top: 25%;
          mix-blend-mode: multiply;
        }
      }
    }
    p {
      color: white;
      margin-bottom: 0;
      margin-top: 2%;
    }
  }

  .api {
    width: 400px;
  }

  .controls {
    margin-top: 5px;
    p {
      display: inline-block;
      margin-right: 0;
      color: white;
    }
    .slider {
      margin-top: 5px;
      float: right;
    }
  }

  button {
    background-color: #ffaf00;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #b57e00;
    }
  }

}

.search-project {
  margin: 5% 15%;
  background-color: black;
  padding: 20px;
  border-radius: 10px;

  h1 {
    text-align: center;
    color: #ffaf00;
    margin-bottom: 2%;
  }

  .search-board {
    display: block;
    width: 640px;
    margin: auto;
    background-color: #fad47b;
    .board-row {
      width: 640px;
      height: 30px;
      display: flex;
      margin: 0 1px 0 0;
      .board-tile {
        width: 32px;
        height:32px;
        display: inline-block;
        position: relative;
        margin: 0 0 1px;
        img {
          max-width:50%;
          max-height:50%;
          position: absolute;
          left: 25%;
          top: 25%;
          mix-blend-mode: multiply;
        }
      }
    }
  }

  .ai-description {
    margin-top: 20px;
    p {
      color: white;
    }

    label {
      color: white;
      margin: 0 15px;
    }

    button {
      background-color: #ffaf00;
      padding: 5px 20px;
      border-radius: 5px;
      color: white;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }

  .search-description {
    display: flex;
    ul {
      width: 70%;
      margin-top: 3%;
      li {
        color: white;
      }
    }

    .run {
      margin-top: 3%;
      width: 30%;
      justify-content: flex-end;
    }
  }
}