
.project {

  display: flex;
  margin: 5% 15%;

  .description {
    width: calc(100% - 400px);
    h1 {
      color: #ffaf00;
    }

    h3 {
      font-size: 16px;
      color: #ffaf00;
    }

    ul {
      li {
        color: white;
      }
    }
  }

  .chess {
    width: 400px;
    .board {
      height: 400px;
      width: 400px;
      position: relative;
      .tile {
        display: inline-block;
        position: relative;

        img {
          max-width:50%;
          max-height:50%;
          position: absolute;
          left: 25%;
          top: 25%;
          mix-blend-mode: multiply;
        }
      }
    }

    p {
      color: white;
      margin-bottom: 0;
      margin-top: 2%;
    }

    .controls {
      p {
        display: inline-block;
        margin-right: 5%;
      }
    }
  }
}